.invalid-tile{
    position: absolute;
    top: 17vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 10px;
    width: max-content;
    z-index: 3;
}

.invalid-tile h4{
    margin: 0;
    padding: 0;
}