.information-container{
    top: 0;
    padding: 3vh 20px 0;
    background-color: transparent;
    position: absolute;
    text-align: left;
    width: min(500px, 80vw);
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: opacity ease 0.5s, transform ease 0.5s, visibility ease 0.5s, background-color ease 0.5s;
}

.bottom-of-content{
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
}

.visible{
    opacity: 1;
    visibility: visible;
}

.invisible{
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -10vh);
}

.information-header{
    display: flex;
    text-align: center;
    justify-content: center;
}

.information-word{
    display: flex;
}

.cross{
    margin-left: auto;
    cursor: pointer;
}

@media (max-width: 515px){
    .information-container{
        font-size: small;
    }
}

@media (max-width: 390px){
    .information-container{
        font-size: smaller;
    }
}

@media (max-width: 375px){
    .information-container{
        font-size: x-small;
    }
}