input{
    position: fixed;
    top: 0;
    outline: none;
    border: none;
    color: transparent;
    background-color: transparent;
    cursor: default;
}

input::selection{ 
    color:transparent; 
    background-color: transparent;
}

.playing-board-container{
    margin-top: 5vh;
    margin-left: 50%;
    transform: translateX(-50%);
    width: max-content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    column-gap: 0;
}

.keyboard-container{
    margin-top: 5vh;
    margin-left: 50%;
    transform: translateX(-50%);
    width: max-content;
    display: grid;
    gap: 7px;
}

.for-information{
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all ease 0.5s;
}

.visible{
    background-color: white;
    opacity: 1;
    visibility: visible;
}

.invisible{
    background-color: white;
    opacity: 0;
    visibility: hidden;
}


@media (max-width: 325px){
    .keyboard-container{
        gap: 5px;
    }
}

@media (max-height: 515px){
    .keyboard-container{
        gap: 5px;
    }
}