.game-message-container{
    position: absolute;
    text-align: left;
    width: min(450px, 80vw);
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: opacity ease 0.5s, transform ease 0.5s, visibility ease 0.5s;
    border-radius: 50px;
    outline-offset: -10px;
    padding: 0;
}

.dark-game{
    background-color: #818384;
    outline: 2px solid white;
}

.light-game{
    background-color: #d3d6da;
    outline: 2px solid black;
}

.dark-cross{
    color: white;
}

.light-cross{
    color: black;
}
    

.game-message-content{
    text-align: center;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.game-message-cross{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}