.header-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
}

.hint{
    padding-top: min(10px, 2vw);
}

.refresh{
    padding-top: min(10px, 2vw);
}

.title{
    padding:0;
}

.title h1{
    font-family: 'Bitter', serif;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 0;
}

.interactive-icon{
    cursor: pointer;
}

@media (max-width: 400px){
    .title h1{
        font-size: 1.5rem;
    }
}

/* @media (max-width: 400px){
    .title h1{
        font-size: 25px;
    }
} */