.keyboard-tile-big{
    font-size: 8px;
    margin-left: 3px;
    margin-right: 3px;
    border: none;
    height: 55px;
    width: min(65px,  13vw);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@media (max-width: 530px){
    .keyboard-tile-big{
        font-size: 7px;
    }
}


@media (max-width: 315px){
    .keyboard-tile-big{
        margin-left: 2px;
        margin-right: 2px;
        font-size: 6px;
    }
} 

@media (max-height: 640px){
    .keyboard--big{
        height: 7.75vh;
        font-size: 7px;
    }
}

@media (max-height: 560px){
    .keyboard-tile-big{
        height: 7vh;
        font-size: 6px;
    }
}

@media (max-height: 515px){
    .keyboard-tile-big{
        height: 6.5vh;
        font-size: 6px;
    }
}