.small-letter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: min(7vh, 14vw);
    width: min(7vh, 14vw);
    box-sizing: border-box;
    margin-right: 3px;
    transition: transform ease 0.2s;
}